@tailwind base;
@tailwind utilities;

.container-AddContract{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}
.title-contract{
    padding-right: 40px;
    padding-bottom: 25px;
    padding-top: 20px;
}
.title-1-contract{
    font-size: 20pt;
    font-weight: bold;
    color: #284A68;
}
.soustitre-contract{
    margin-right: 3%;
    font-size: 1.2em;
    font-weight: bold;
    color: #284A68;
}

.search-addcontract{
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
   
}
.search{
    margin-right: 3%;
    margin-top: 2px;
}
.text{
    padding: 3vh 5vw;
    border-radius: 5px;
    box-shadow: -2px 0px 8px 1px #DDB660;
    border: none;
    width: 25vw;
    height: 0vh;
}
.text:focus{
    outline: none;
    
}
.contractContainer{
    height: 100%;
    width: 100%;
}
.titles{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 3%;
    margin-bottom: 2%;
    width: 100%;
}
.t1{
    color: rgb(37, 36, 36);
    font-size: 0.9em;
    display: flex;
}
.t2{
    margin-right: 5px;
}


.triangle{
    margin-top: 10px;
}
.contractContainer{
    height: 59%;
}
.line-contract{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 1% 3% 1% 6%;
    border: none;
    box-shadow: -2px 0px 8px 1px #DDB660;
    border-radius: 6px;
    padding: 1%;
}
.numberOfContract{
    margin-right: 2%;
}
.natureOfContract{
    margin-right: 16%;
}
.numberOfModels{
    margin-left: 7vw;
    margin-right: 15vw;
}


::-webkit-scrollbar{
    width: 8px;
    
}
::-webkit-scrollbar-track{
    background-color: #ffff
}
::-webkit-scrollbar-thumb{
    background-color: #DDB660;
    border-radius: 3px;
}
@media screen and (max-height:600px){
   
    .SideBar{
        height: 190%;
    }
}