.content {
    display: flex; 
    align-items: center;
    direction: rtl;
}

.soustitle {
    display: flex;
    justify-content: end;
    margin-right: 3%;
    font-size: 1.2em;
    font-weight: bold;
    color: #284A68;
    margin-left: 20px;
}

.path {
    margin-right: 20px;
    margin-left: 20px;
    font-size: 1.2em;
    font-weight: bold;
    color: #284A68;

}

.lien {
    margin-right: 20px; 
    font-size: 1.2em;
    font-weight: bold;
    color: #284A68;
 
}
.search-addcontract{
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
   
}
.search{
    margin-right: 3%;
    margin-top: 2px;
}
.text{
    padding: 3vh 5vw;
    border-radius: 5px;
    box-shadow: -2px 0px 8px 1px #DDB660;
    border: none;
    width: 25vw;
    height: 0vh;
}
.text:focus{
    outline: none;
    
}
.contractContainer{
    height: 100%;
    width: 100%;
    
}
.titles{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 3%;
    margin-bottom: 2%;
    justify-content: space-between;
    width: 90%;
    
}
 .ti{
    color: rgb(37, 36, 36);
    font-size: 0.9em;
    display: flex;
  

} 
/* .t2{
    margin-right: 5px;
}
.t2-1{
    margin-left: 6vw;
}
.t1-3{
    width: 17vw;
    padding-left: 9%;
} */


.t1-2{
    margin-right: 10vw;
    margin-left: 40%;

}
.button1{
    padding: 1.2vh 5vw;
    margin-left:8vw ;
    background-color: #DDB660;
    color: white;
    border: none;
    box-shadow: -2px 0px 8px 1px #DDB660;
    border-radius: 8px;
    font-size: 1.2em ;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    z-index: 1;

}
.triangle{
    margin-top: 10px;
}
.contractContainer{
    height: 59%;
}
.line-contract{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 0% 3% 1% 1%;
    border: none;
    box-shadow: -2px 0px 8px 1px #DDB660;
    border-radius: 6px;
    padding: 1%;
}
.numberOfContract{
    margin-right: 2%;
}
.natureOfContract{
    margin-right: 16%;
}
.numberOfModels{
    margin-left: 7vw;
    margin-right: 15vw;
}

   
.scrollbar{
    height: 100%;
    
    
}
::-webkit-scrollbar{
    width: 8px;
    
}
::-webkit-scrollbar-track{
    background-color: #f3dcab
}
::-webkit-scrollbar-thumb{
    background-color: #DDB660;
    border-radius: 3px;
}
@media screen and (max-width:950px){
   
}
@media screen and (max-height:600px){
    
    .SideBar{
        height: 190%;
    }
}